<%= form_with(model: etusivu, local: true) do |form| %>
  <% if etusivu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(etusivu.errors.count, "error") %> prohibited this etusivu from being saved:</h2>

      <ul>
        <% etusivu.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
